:root{
  --background-color-messages-chatbot: #f6c700;
  --bg-container-chatbot: #717c51;
  --text-messages-chatbot: white;
}
#chatbot-float {
  --padding: 15px;
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
}

.bg-messages-chatbot{
  background-color: var(--background-color-messages-chatbot);
}

.bg-container-chatbot{
  background-color: var(--background-color-messages-chatbot)!important;
}
.text-messages-chatbot{
  color: var(--text-messages-chatbot);
}

#icon {
  transition: 1s all;
}

.title-chatbot{
  font-size: 20px;
}
